.ranking section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.list {
    width: 100%;
    height: calc(100% - 80px);
}

.item {
    position: relative;
    background-color: #ffa624;
    width: 500px;
}

    .item .item-rank {
        position: absolute;
        font: bold 2em Helvetica;
        left: 0px;
        bottom: 0px;
        color: #fff;
        text-shadow:1px 1px 5px #000;
    }
    .item .item-image {
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
    .item .item-title {
        position: absolute;
        left: 80px;
        top: 18px;
        font-weight:bold;
        font-size:1.5em;
        color: #fff;
        text-shadow:1px 1px 3px #333;
    }
    .item .item-subtitle {
        position: absolute;
        right: 30px;
        top: 18px;
        font-weight:bold;
        font-size:1.5em;
        color: #000;
        text-shadow:1px 1px 3px #fff;
    }

#afterGame {
    margin-top:15px;
}

#afterGame button {
    background-color:#333;
    font-size: 1.3em;
    padding:7px 10px;
}

#updateBestScore {
    background: url("/images/top_rank.png") no-repeat;
    width: 300px;
    height: 144px;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -72px;
    text-align:center;
}

#myScore {
    font: bold 2em Helvetica;
    color: red;
    text-align: center;
    margin-top:50px;
}

@media screen and (-ms-view-state: snapped) {
    .ranking section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .ranking section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}