<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="50455ByungseoLee.PatchPang" Version="1.0.0.4" Publisher="CN=024CFF8F-9182-4479-B55F-4CB6DD72D7AF" />
  <Properties>
    <DisplayName>PatchPang</DisplayName>
    <PublisherDisplayName>Byungseo Lee</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="PatchPang" Logo="images\tile.png" SmallLogo="images\smalltile.png" Description="PatchPang" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\largetile.png" ShortName="PatchPang" />
        <SplashScreen Image="images\splash.png" BackgroundColor="#ffa624" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>